{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}

<style>
  /* ========================================================================================== */
  /* 1. CUSTOM BTN                                                                             */
  /* ========================================================================================== */

  .btnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: 100%;
    background: white;
  }

  .btnWrapper h6 {
    width: 100%;
    color: #00562b;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    margin: 0;
  }

  .txtContainer {
    padding: 0;
  }

  .txtContainer h4,
  .txtContainer p {
    padding: 1rem;
  }

  .txtContainer h4 {
    margin: 0 !important;
  }

  .txtContainer .reviews {
    color: #00562b;
    fill: #00562b;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem;
    padding: 1rem;
    height: auto;
    width: 100%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: 100%;
    background: white;
    border: 1px solid #333;
    border-radius: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
    pointer-events: all;
  }
  /* 
.btnContainer:nth-child(2) {
  border: 1px solid #c7c7c73b;
} */

  .btnContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem;
    padding: 1rem;
    height: auto;
    width: 100%;
  }

  .btnContainer > div .hdrContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
  }

  .btnContainer:nth-child(2) > div .hdrContainer {
    margin-bottom: 0rem;
  }

  .btnContainer > div .hdrContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: 100%;
  }

  /* .btnContainer:nth-child(2) > div .hdrContainer h6 {
  color: #33333342;
} */

  .btnContainer > div .hdrContainer > div > div {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    background-color: #00562b;
    border: 1px solid rgb(208 208 208);
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btnContainer > div .hdrContainer > div > div svg {
    height: 0.7rem;
  }

  .btnContainer > div .hdrContainer > .price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: 100%;
  }

  .btnContainer > div .hdrContainer > .price > span {
    width: auto;
    color: #6b7280;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    position: relative;
  }

  /* .btnContainer:nth-child(2) > div .hdrContainer > .price > span {
  color: #00562b5e !important;
  font-weight: 500;
} */

  .btnContainer > div .hdrContainer > .price > span > span {
    width: 110%;
    position: absolute;
    background-color: #333;
    height: 1px;
    left: -5px;
    top: 10px;
    transform: rotate(5deg);
  }

  .btnContainer > div span {
    width: 100%;
    width: auto;
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    position: relative;
  }

  .btnContainer > div ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: 100%;
  }

  .btnContainer > div ul li {
    list-style: none;
    width: 100%;
    width: auto;
    color: #6b7280;
    font-size: 10px;
    font-weight: 100;
    line-height: 18px;
    font-weight: 200;
    text-align: left;
    margin: 5px 0;
    position: relative;
  }

  .btnContainer > div ul li svg,
  .btnContainer > div ul li svg path {
    color: #6b728040;
    fill: #6b728040;
  }

  .faqContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: white;
  }

  .faqContainer strong {
    color: #00562b;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .buyBtn > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
  }

  .buyBtn > div img {
    width: 50px;
    height: auto;
    object-fit: contain;
  }

  .imgContainer svg {
    display: none;
  }
  .mainButton {
    background: #00562b;
    padding: 14px 20px;
    color: #eeecec;
    border: none;
    border-radius: 50px;
    width: max-content;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    cursor: pointer;
    pointer-events: all;
    border: 1px solid #00562b;
    transition: background 0.3s;
    width: 100%;
  }

  .mainButton svg {
    margin-left: 1.5rem;
    transform: translateX(0%);
    transition: transform 0.3s;
  }

  .mainButton:hover {
    background: white;
    padding: 14px 20px;
    color: #00562b !important;
    border: 1px solid #00562b;
  }

  .mainButton:hover svg {
    transition: transform 0.3s;
    transform: translateX(5px);
  }

  @media screen and (min-width: 720px) {
    .rightside {
      position: relative;
      width: 50%;
    }

    .imgContainer {
      padding: 1rem;
      width: 50%;
      position: relative;
    }

    .imgContainer > img {
      width: 80%;
      min-height: 375px;
    }

    .imgContainer > ul {
      width: 80%;
    }

    .imgContainer > ul img {
      min-height: 120px;
    }

    .faqContainer,
    .txtContainer {
      padding: 2rem 3rem;
    }

    .rightside > svg {
      display: flex;
      position: absolute;
      transform: rotate(270deg);
      top: 39%;
      right: 19rem;
      height: auto;
      width: 76vw;
    }
  }
</style>

<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif
    -%}

    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error"
          viewBox="0 0 13 13"
        >
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>

      {{ block.settings.best_deal.price | money }}
      {{ product.compare_at_price }}
      {{ product.selling_plan_groups.size }}

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="btnWrapper">
          <div class="btnContainer">
            {% assign product0_background = '#c4e7bc' %}
            <div
              style="border-bottom: 1px solid black; background: {{ product0_background }}; border-top-left-radius: 15px; border-top-right-radius: 15px;"
              onclick="handleClick(0)"
            >
              <div class="hdrContainer">
                <div style="width: 100%;">
                  <div style="background: white">
                    <span class="fa fa-check" style="margin-left: 1px;"></span>
                  </div>
                  <h6>Best Deal</h6>
                </div>
                <div class="price">
                  <span style="margin-right: 0.5rem;">
                    {{ block.settings.best_deal.compare_at_price | money }}
                    <span></span>
                  </span>
                  <span style="color: #00562b; font-weight: 500;">
                    {{- block.settings.best_deal.price | money -}}
                  </span>
                </div>
              </div>
              <span> {{ block.settings.best_deal_sub }}</span>
              <ul>
                {% if block.settings.best_deal_inc_1 != blank %}
                  <li>
                    {% render 'icon-accordion', icon: 'check_mark' -%}
                    {{- block.settings.best_deal_inc_1 }}
                  </li>
                {% endif %}
                {% if block.settings.best_deal_inc_2 != blank %}
                  <li>
                    {% render 'icon-accordion', icon: 'check_mark' -%}
                    {{- block.settings.best_deal_inc_2 }}
                  </li>
                {% endif %}
                {% if block.settings.best_deal_inc_3 != blank %}
                  <li>
                    {% render 'icon-accordion', icon: 'check_mark' -%}
                    {{- block.settings.best_deal_inc_3 }}
                  </li>
                {% endif %}
              </ul>
            </div>

            {% assign product1_background = '#c4e7bc' %}
            <div
              style="background: {{ product1_background }}; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;"
              onclick="handleClick(1)"
            >
              <div class="hdrContainer">
                <div style="width: 100%;">
                  <div style="background: white">
                    <span class="fa fa-check" style="margin-left: 1px;"></span>
                  </div>
                  <h6>Most Popular</h6>
                </div>
                <div class="price">
                  <span style="margin-right: 0.5rem;">
                    {{ block.settings.most_popular.compare_at_price | money }}
                    <span></span>
                  </span>
                  <span style="color: #00562b; font-weight: 500;">
                    {{- block.settings.most_popular.price | money -}}
                  </span>
                </div>
              </div>
              <span>{{ block.settings.most_popular_sub }}</span>
              <ul>
                {% if block.settings.most_popular_inc_1 != blank %}
                  <li>
                    {% render 'icon-accordion', icon: 'check_mark' -%}
                    {{- block.settings.most_popular_inc_1 }}
                  </li>
                {% endif %}
                {% if block.settings.most_popular_inc_2 != blank %}
                  <li>
                    {% render 'icon-accordion', icon: 'check_mark' -%}
                    {{- block.settings.most_popular_inc_2 }}
                  </li>
                {% endif %}
                {% if block.settings.most_popular_inc_3 != blank %}
                  <li>
                    {% render 'icon-accordion', icon: 'check_mark' -%}
                    {{- block.settings.most_popular_inc_3 }}
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="btnContainer">
            <div onclick="handleClick(2)">
              <div class="hdrContainer">
                <div style="width: 100%;">
                  <div style="background: white">
                    <span class="fa fa-check" style="margin-left: 1px;"></span>
                  </div>
                  <h6>Try Once</h6>
                </div>
                <div class="price">
                  <span style="margin-right: 0.5rem;"><span></span></span>
                  <span style="font-weight: 500;">$79.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buyBtn">
          <a class="mainButton"> BUY NOW <span class="fa fa-long-arrow-right"></span> </a>
          <div>
            {% comment %}
              {% for image in section.settings.seal_images %}
                <img src="{{ image | img_url }}" alt="" width="" height="">
              {% endfor %}
            {% endcomment %}
          </div>
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary"
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}

  {%- if show_pickup_availability -%}
    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
      | where: 'pick_up_enabled', true
    -%}

    <pickup-availability
      class="product__pickup-availabilities no-js-hidden quick-add-hidden"
      {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
        available
      {% endif %}
      data-root-url="{{ routes.root_url }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      data-has-only-default-variant="{{ product.has_only_default_variant }}"
      data-product-page-color-scheme="gradient color-{{ section.settings.color_scheme }}"
    >
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          {% render 'icon-unavailable' %}
          <div class="pickup-availability-info">
            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
            <button class="pickup-availability-button link link--text underlined-link">
              {{ 'products.product.pickup_availability.refresh' | t }}
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
